@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.colordisplay {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  margin-top: 7%;
  padding: 100px 20px;
  border-radius: 10px;
}
.colorvisual {
  height: 200px;
  width: 200px;
  border-radius: 10px;
  display: inline-block;
  background-color: black;
}

body {
  font-family: "Montserrat", sans-serif;
}

select,
label {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  width: 200px;
  margin-bottom: 100px;
}
